.contactdiv{
    color: aliceblue;
    border: solid 2px white;
    border-radius: 22px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
   position: relative;
   top:  100px;
   left: 42.5%;
   
   font-size: clamp(20px, 15px, 50px);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: center;
    background-color: rgba(0, 0, 0, 0.3);


}
.name{
  font-style: italic;
  font-size: 30px;
}

/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      width: 20vw;
      font-size: 25px;
      
    }
  } */